.success {
    background-color: lawngreen;
    border: 1px solid darkolivegreen;
    color: darkgreen;
}

.error {
    background-color: coral;
    border: 1px solid crimson;
    color: darkred;
}

.warning {
    background-color: lemonchiffon;
    border: 1px solid yellow;
    color: gold;
}

